<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header style="text-align: center">
      <ion-card-title>Actualizar Contraseña</ion-card-title>
      <ion-card-subtitle style="padding-top: 10px"
        >Por favor completa los campos</ion-card-subtitle
      >
    </ion-card-header>

    <form>
      <ion-list>
        <ion-item>
          <ion-label style="margin-top: 10px" position="floating"
            >Contraseña Actual</ion-label
          >
          <ion-input
            required
            type="password"
            [(ngModel)]="currentPassword"
            name="currentPassword"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña Nueva</ion-label>
          <ion-input
            required
            type="password"
            [(ngModel)]="newPassword"
            name="newPassword"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña Nueva</ion-label>
          <ion-input
            required
            type="password"
            [(ngModel)]="confirmNewPassword"
            name="password"
            (ionChange)="checkNewPassword()"
          ></ion-input>
          <ion-text *ngIf="newPassword && !newPasswordMatch" color="danger"
            >¡Las contraseñas NO coinciden!</ion-text
          >
          <ion-text *ngIf="newPassword && newPasswordMatch" color="success"
            >¡Las contraseñas coinciden!</ion-text
          >
        </ion-item>

        <ion-button
          style="margin-top: 20px"
          [disabled]="!newPasswordMatch && !currentPasswordMatch"
          type="submit"
          expand="block"
          shape="round"
          (click)="sendNewPassword()"
          >ACTUALIZAR</ion-button
        >
      </ion-list>
    </form>
  </ion-card>
</ion-content>
